In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [4]:
# Show just the header
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [10]:
file_one_df

     id first_name   last_name                               email  gender
0     1      David      Jordan                    djordan0@home.pl    Male
1     2    Stephen       Riley             sriley1@hugedomains.com    Male
2     3     Evelyn       Grant             egrant2@livejournal.com  Female
3     4        Joe     Mendoza                    jmendoza3@un.org    Male
4     5   Benjamin   Rodriguez              brodriguez4@elpais.com    Male
5     6   Kathleen    Crawford              kcrawford5@cbsnews.com  Female
6     7     Daniel    Marshall                dmarshall6@salon.com    Male
7     8      Diana     Coleman             dcoleman7@amazonaws.com  Female
8     9    Frances       Black                 fblack8@webnode.com  Female
9    10      Tammy      Arnold                 tarnold9@ebay.co.uk  Female
10   11    Jeffrey    Matthews             jmatthewsa@mapquest.com    Male
11   12        Roy    Harrison              rharrisonb@youtube.com    Male
12   13     Ernest      Bishop                  ebishopc@intel.com    Male
13   14      Brian     Griffin                 bgriffind@issuu.com    Male
14   15      Alice      Howell                 ahowelle@boston.com  Female
15   16      Emily       Garza                       egarzaf@51.la  Female
16   17      Sarah       Perez                     sperezg@mail.ru  Female
17   18       Earl      Harvey                 eharveyh@cpanel.net    Male
18   19      Larry     Watkins               lwatkinsi@archive.org    Male
19   20    Timothy     Edwards            tedwardsj@altervista.org    Male
20   21    Theresa    Phillips                 tphillipsk@1688.com  Female
21   22    Timothy    Lawrence                 tlawrencel@fema.gov    Male
22   23    Gregory     Daniels                 gdanielsm@goo.ne.jp    Male
23   24      Laura        Ross                lrossn@delicious.com  Female
24   25     Martin      Burton            mburtono@stumbleupon.com    Male
25   26    Antonio     Chapman              achapmanp@trellian.com    Male
26   27       Tina      Lawson                     tlawsonq@ed.gov  Female
27   28    Heather     Wallace             hwallacer@quantcast.com  Female
28   29       Mary       Stone               mstones@newyorker.com  Female
29   30     Angela      Flores             aflorest@deviantart.com  Female
..  ...        ...         ...                                 ...     ...
70   71      Norma         Cox                  ncox1y@pcworld.com  Female
71   72       Juan       Woods                    jwoods1z@ask.com    Male
72   73      Terry       Ramos              tramos20@sitemeter.com    Male
73   74      David    Anderson                danderson21@ucoz.com    Male
74   75     Donald      Morgan                 dmorgan22@wiley.com    Male
75   76      Billy      Bryant              bbryant23@hatena.ne.jp    Male
76   77     Willie       Stone                wstone24@4shared.com    Male
77   78      Terry      Porter             tporter25@mediafire.com    Male
78   79     Gloria     Edwards               gedwards26@discuz.net  Female
79   80     Janice       Payne             jpayne27@prnewswire.com  Female
80   81      Aaron       Black                   ablack28@xing.com    Male
81   82     Joshua     Nichols         jnichols29@sciencedaily.com    Male
82   83      Donna       Ramos             dramos2a@whitehouse.gov  Female
83   84     Johnny      Romero                    jromero2b@ed.gov    Male
84   85      Paula      Nelson             pnelson2c@wordpress.com  Female
85   86       Jack    Hamilton  jhamilton2d@scientificamerican.com    Male
86   87     Howard        Hart                     hhart2e@ted.com    Male
87   88      Frank         Kim                  fkim2f@foxnews.com    Male
88   89    Mildred     Jenkins          mjenkins2g@livejournal.com  Female
89   90      Betty        Dunn                    bdunn2h@admin.ch  Female
90   91       Anna      Porter                   aporter2i@unc.edu  Female
91   92        Ann     Spencer              aspencer2j@sina.com.cn  Female
92   93     Nicole  Cunningham       ncunningham2k@hugedomains.com  Female
93   94   Patricia        Dunn                 pdunn2l@4shared.com  Female
94   95      Scott     Garrett          sgarrett2m@themeforest.net    Male
95   96       Adam       Banks     abanks2n@scientificamerican.com    Male
96   97    Antonio    Franklin                 afranklin2o@loc.gov    Male
97   98        Joe       Allen              jallen2p@quantcast.com    Male
98   99    Rebecca     Russell            rrussell2q@wordpress.com  Female
99  100      Kathy     Sanchez               ksanchez2r@ebay.co.uk  Female

[100 rows x 5 columns]

In [5]:
# Show a single column
file_one_df["first_name"].head()

0       David
1     Stephen
2      Evelyn
3         Joe
4    Benjamin
Name: first_name, dtype: object

In [9]:
# Show mulitple specific columns--note the extra brackets
file_one_df[["first_name", "email","gender"]].head()

  first_name                    email  gender
0      David         djordan0@home.pl    Male
1    Stephen  sriley1@hugedomains.com    Male
2     Evelyn  egrant2@livejournal.com  Female
3        Joe         jmendoza3@un.org    Male
4   Benjamin   brodriguez4@elpais.com    Male

In [7]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)